RewriteEngine on

Redirect 301 /2012/11/coming-soon.html /
Redirect 301 /p/archived-series.html /series
Redirect 301 /2012/11/google-io-2011-building-game.html /tutorial/video/134/google-i/o-2011-kick-ass-game-programming-with-google-web-toolkit
Redirect 301 /2012/11/software-design-planning-computer-programming-theory-best-practices.html /series/watch/45/programming-theory-fundamentals-tutorials
Redirect 301 /2012/11/computer-programming-theory-best-practices-series.html /series/watch/45/programming-theory-fundamentals-tutorials
Redirect 301 /2012/11/software-design-planning-computer-programming-theory-best-practices-video.html /series/watch/45/programming-theory-fundamentals-tutorials
Redirect 301 /2012/11/advanced-php-tutorial-dependency-injection-video.html /series/watch/25/dependency-injection
Redirect 301 /2012/11/how-to-install-php-development-tools-in-eclipse.html /series/watch/41/eclipse-java-php-development-tips-for-power-users
Redirect 301 /2012/11/eclipse-power-user-series.html /series/watch/41/eclipse-java-php-development-tips-for-power-users
Redirect 301 /2012/11/advanced-php-tutorial-what-is-polymorphism-video.html /tutorial/video/6/advanced-php-tutorial-2-what-is-polymorphism
Redirect 301 /2012/11/advanced-php-tutorial-what-is-polymorphism.html /tutorial/video/6/advanced-php-tutorial-2-what-is-polymorphism
Redirect 301 /2012/11/advanced-php-tutorial-databse-abstraction-layer.html /tutorial/video/9/advanced-php-tutorial-5-databse-abstraction-layer
Redirect 301 /2012/11/advanced-php-tutorial-databse-abstraction-layer-video.html /tutorial/video/9/advanced-php-tutorial-5-databse-abstraction-layer
Redirect 301 /2012/11/instant-search-advanced-php-tutorial-highlight-video.html /tutorial/video/11/advanced-php-tutorial-6.1-instant-search-results
Redirect 301 /2012/11/instant-search-advanced-php-tutorial-highlight.html /tutorial/video/11/advanced-php-tutorial-6.1-instant-search-results
Redirect 301 /2012/11/syntax-highlighting-eclipse-power-user-tips.html /tutorial/video/11/advanced-php-tutorial-6.1-instant-search-results
Redirect 301 /2012/11/computer-programming-theory-best-practices-global-variables.html /tutorial/video/16/programming-theory-fundamentals-global-variables
Redirect 301 /2012/11/advanced-php-tutorial-package-namespace.html /tutorial/video/3/advanced-php-tutorial-9-autoload-your-classes-psr-0
Redirect 301 /2012/11/advanced-php-tutorial-package-namespace-video.html /tutorial/video/3/advanced-php-tutorial-9-autoload-your-classes-psr-0
Redirect 301 /2012/11/computer-programming-theory-best-practices-cohesion.html /tutorial/video/18/programming-theory-fundamentals-coupling
Redirect 301 /2012/11/advanced-php-tutorial-series-introduction.html /series/watch/42/advanced-php-tutorials
Redirect 301 /2012/11/advanced-php-tutorial-instant-search-video.html /tutorial/video/11/advanced-php-tutorial-6.1-instant-search-results
Redirect 301 /2012/11/advanced-php-tutorial-instant-search.html /tutorial/video/11/advanced-php-tutorial-6.1-instant-search-results
Redirect 301 /2012/11/code-completion-eclipse-power-user-tips..html /series/watch/41/eclipse-java-php-development-tips-for-power-users
Redirect 301 /2012/11/how-to-make-your-website-mobile-friendly.html /series/watch/44/local-web-development
Redirect 301 /2012/11/local-web-development-how-to-virtual-host-in-windows.html /tutorial/video/172/how-to-create-a-virtual-host-in-windows-virtual-domain-with-apache-wamp
Redirect 301 /2012/11/local-web-development-how-to-virtual-host-in-windows-video.html /tutorial/video/172/how-to-create-a-virtual-host-in-windows-virtual-domain-with-apache-wamp
Redirect 301 /2012/11/computer-programming-theory-best-practices-function-variable-naming.html /tutorial/video/16/programming-theory-fundamentals-global-variables
Redirect 301 /2012/11/computer-programming-challenge-tic-tac-toe.html /tutorial/video/38/programming-challenge-tic-tac-toe-tutorial-1-introduction
Redirect 301 /2012/11/local-web-development-cdn.html /series/watch/44/local-web-development
Redirect 301 /2012/11/how-to-run-php-from-command-line-in-windows.html /tutorial/video/4/php-command-line-how-to-run-php-from-command-line-in-windows
Redirect 301 /2012/11/local-web-development-mustache-template-engine.html /tutorial/video/173/how-to-use-mustache.js-template-system

Redirect 301 /dump.xml /

Redirect 301 /p/current-series.html /series
Redirect 301 /p/about-us.html /about

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]
